<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body class="page">

	<div class="container">

		<div class="contacts">
		<table>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Message</th>
					<th>Date</th>
					<th>IP</th>
				</tr>
				<tr th:each="contact : ${contacts}">
					<td th:text="*{contact.name}"></td>
					<td th:text="*{contact.email}"></td>
					<td th:text="*{contact.message}"></td>
					<td th:text="*{contact.sentAt}"></td>
					<td th:text="*{contact.ip}"></td>
				</tr>

			</table>
		</div>
	</div>

</body>
</html>