<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body class="page">

	<div class="createContent">
		<form th:action="@{/admin/sitepages/edit/__${sitePage.id}__}"
			method="post">
			<div class="inputWrapper">
				<div>Key :</div>
				<input id="validKey" name="validKey" type="text" th:value="${sitePage.validKey}"/>
			</div>
			<div class="inputWrapper">
				<div>Title :</div>
				<input id="title" name="title" type="text" th:value="${sitePage.title}"/>
			</div>
			<div class="inputWrapper">
				<div>Css Class :</div>
				<input id="cssClass" name="cssClass" type="text" th:value="${sitePage.cssClass}"/>
			</div>
			<input type="submit" value="Submit" />

		</form>
	</div>
</body>
</html>