<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body class="page">

	<div class="contact-us">
		<form th:action="@{/contact}" method="post">
			<div class="inputWrapper">
				<div>Name :</div>
				<input id="name" name="name" type="text" />
			</div>
			<div class="inputWrapper">
				<div>Email :</div>
				<input id="email" name="email" type="email" />
			</div>
			<div class="inputWrapper">
				<div>Message :</div>
				<textarea id="message" name="message"></textarea>
			</div>

			<input type="submit" value="Submit" />

		</form>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			setSelectedMenu("contact");
		});
	</script>
</body>
</html>