<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body class="page">

	<div class="container">
<div>
<a th:href="@{/admin/menus/create}">New</a>
</div>
		<div class="menus">

			<table>
				<tr>
					<th>Title</th>
					<th>Page</th>
				</tr>
				<tr th:each="menu : ${menus}">

					<td th:text="*{menu.title}"></td>
					<td th:text="*{menu.page!=null ? menu.page.title : menu.pageKey}"></td>

					<td><a th:href="@{/admin/menus/__${menu.id}__/up}">Move up</a>
					</td>
					<td><a th:href="@{/admin/menus/__${menu.id}__/down}">Move down</a>
					</td>
					<td><a th:unless="*{menu.published}"
						th:href="@{/admin/menus/__${menu.id}__/publish}">Publish</a> <a
						th:if="*{menu.published}"
						th:href="@{/admin/menus/__${menu.id}__/remove}">Remove</a></td>
					<td><a th:href="@{/admin/menus/edit/__${menu.id}__}">Edit</a>
					</td>
					<td><a th:href="@{/admin/menus/delete/__${menu.id}__}">Delete</a>
					</td>
				</tr>

			</table>
		</div>
	</div>

</body>
</html>