/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #fff;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: auto;
    padding: 0;
    color: #696969;
    width: 1010px;
    border:0 solid #4F5E66;
    border-width: 0 1px;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the
page width. Or, you can specify an exact pixel width. */
.page {
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    background:#F7F5F5;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 20px;
    background-color: #fff;
    min-height: 450px;
    /*border:1px solid orange;*/
}

.footer,
#footer {
    background-color: #596A73;
    color: #bbb;
    line-height: normal;
    font-size: .9em;
	display:inline-block;
    text-align: center;
    width: 100%;
 }

#footer .groups { padding: 10px 0 10px 20px;display: inline-block;width: 500px; }
#footer ul { display:inline-block;  margin:0 20px; padding-bottom: 5px;width: 100%; }
#footer ul li { list-style:none; display:inline; width:auto;padding:5px;}
#footer ul li a {text-decoration:none; color:#bbb;}

#footer .copyright { display:inline-block; padding-top:10px; background:#4F5E66; width:100%; }

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

textarea,
input[type="text"],
input[type="password"],
input:not([type]), input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;}
 input[type="text"],
input[type="password"],   {
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"],input[type="button"] {
    font-size: 10pt;
    padding: 5px;
    border: 1px solid #ccc;
	background-color: #E8EEF4;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
    margin: 1em 0 0 0;
}

.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}


#robin{
    background-color: #596A73;
    height: 40px;
    border-bottom:8px solid #eee;
}

/* ----------------- Tips
*/
.tip-bar { background:#fff; border-top:3px solid #E4E3E3; padding:10px 40px;  float:left;  }
.tip-bar h2 { padding:20px 0 10px 0; margin:0 0 0 30px; text-transform:uppercase; font-size:30px; clear:both; }
.tip-bar h3 { margin:0 0 10px 30px; padding:0; text-transform:uppercase; font-size:18px; }

.tip-bar .guide { width:94%; height:80px; background-color:#eee; }
.tip-bar .guide h3 { margin:0 !important; }

.tip-bar .tip { padding:20px; color:#777; margin:0 0 10px 20px; border:1px solid #ddd;
                border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
                display:inline-block; overflow:hidden;  float:left; }
.tip-bar .tip h3 { text-transform:uppercase; font-size:18px; padding:0; margin:0; margin-left:40px;}

.tip-bar .options { height:180px;  width:200px; }
.tip-bar .catalogue { background:#eee url(../css/images/catalogue.png) no-repeat 2% 2%;}
.tip-bar .ecommerce { background:#eee url(../css/images/ecommerce.png) no-repeat 2% 2%;}
.tip-bar .cms { background:#eee url(../css/images/cms.png) no-repeat 2% 2%;}
.tip-bar .bespoke { background:#eee url(../css/images/bespoke.png) no-repeat 2% 2%;}

.tip-bar .feature { background-color:#D1FAA4; width:380px; height:90px; }
.tip-bar .seo {background:#D1FAA4 url(../css/images/seo-feat.png) no-repeat 2% 4%;}
.tip-bar .google {background:#D1FAA4 url(../css/images/google.png) no-repeat 2% 4%;}
.tip-bar .facebook {background:#D1FAA4 url(../css/images/facebook.png) no-repeat 2% 4%;}
.tip-bar .ajax {background:#D1FAA4 url(../css/images/ajax.png) no-repeat 2% 4%;}


.banner { background:url(../css/images/design-banner.jpg) no-repeat; width:100%; height:180px;}

.quote { background:Gold url(../css/images/check.png) no-repeat 4% 4%; width:320px; }
.quote button { margin-left:210px; background:#0080FF; border-color:#0080FF; color:#ddd; }
.quote button:hover { background:#0769CB;}
.quote h4 { margin:10px 0 0 0;}
.quote label { color:#333; }


/* Elements
  ---------------------------------------------------- */

button { background:#ddd; min-width:100px;
         border:1px solid #ccc;
         border-radius: 6px;
         -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
         color:#333; padding:4px 2px; text-transform:uppercase; cursor:pointer;
        }
button:hover { background:#D5D2D2; }