

body{background:#F8F8F8 url(/Content/Images/body-top-pattern.gif) repeat-x top left; padding:0; margin:0; font-family: Helvetica;}
header {padding:0 0 6px 0; margin:0; background:url(/Content/Images/header-white-gradient.png) repeat-x; height:80px;  }
h3 { font-size: 14px;}
h1, h2, h3, h4 { text-transform: uppercase; color:#999;  }
a { text-decoration:none; color:#000;}
a.active, a:active, a:hover {color:#81BA10; }
ol { list-style:none; margin:0; padding:0; }

.menu { width:1024px; margin-left:auto; margin-right:auto; height: 40px;}
.menu ol { float:left; height:79px; overflow:hidden; width:100%; }
.menu ol li { font-size:14px; font-weight:bold; line-height:79px; height:100%; display:inline-block; margin-right:38px; }
.menu ol li a { display:block; }
#wrapper { width:1024px; margin:32px auto 20px auto; min-height:540px; border: 1px solid #DDD; padding:20px; }
#wrapper h2.title { text-align:center; color:#D54848;}

.shadow { background: #FEFEFE; -webkit-box-shadow: 0 0 10px #CCC; box-shadow: 0 0 10px #CCC; moz-box-shadow: 0 0 10px #CCC;}
.box h3{ border-bottom: 1px dashed #ddd; padding-bottom:16px; text-align:center; }
.box { border: 1px dotted #eee; height:400px; padding:6px; float:left; margin-right: 4px; }
.toolbox { width: 140px; }	
.workview { width:660px; }
.explorer {width: 170px; }



.explorer .site-pages li{padding:5px}