/* TOP MENU
----------------------------------------------------------*/

#top-menu-container { text-align: right; padding-right: 60px; }
ul#top-menu {margin-right: 40px; background: #EBE6E6; margin: 0;padding: 2px 20px; display:inline-block; font-size:12px;
             border-radius: 0 0 6px 6px; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px;
             border:1px solid #EDE9E9}

ul#top-menu li { display: inline;  list-style: none;  }
ul#top-menu li a{ text-decoration:none; border-right:1px solid #DFDBDB; padding:0 4px; color:#999; }
ul#top-menu li a.last { border:0;}
ul#top-menu li a:hover { color:#333;}


/* LOGO
----------------------------------------------------------*/
#logo-container { display:inline-block; margin:0 0 15px 60px; padding-left:50px;
                  padding-top:10px; background:url(/Content/images/aliens.png) no-repeat left;}
#logo-container a { text-decoration:none;}
#logo-container h3 { font-size:30px; padding:0; margin:0;  }
#logo-container h3 span { padding:4px 6px; border:1px solid #ddd; border-left:0; color:#555;
                          border-radius: 0 0 9px 0; -webkit-border-radius: 0 0 9px 0; -moz-border-radius: 0 0 9px 0;}
#logo-container h3 span.smart{ color:#0080FF; text-transform:uppercase; background:#a6e2a6; border-left:1px;
                               border-radius: 0 0 0 9px; -webkit-border-radius: 0 0 0 9px; -moz-border-radius: 0 0 0 9px; }

/* TAB MENU
----------------------------------------------------------*/

nav,
#menucontainer {
    margin-right: 60px;
}

ul#menu {
    /*border-bottom: 1px #5C87B2 solid;*/
    padding: 0 0 0;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a {
    padding: 10px 24px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2.8em;
    background-color: #e8eef4;
    background-position:3% 50%;
    background-repeat:no-repeat;
    color: #333;
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border:1px solid #DDE3E8;
    border-bottom:0;
}

ul#menu li a:hover {
    background-color: #a6e2a6;
    text-decoration: none;
    color: #333;
}

ul#menu li a.active {
    background-color: #596A73;  /*#a6e2a6;*/
    text-decoration: none;
    color:#eee;
    border:1px solid #596A73;
}

ul#menu li.selected a {
    background-color: #fff;
}

/*ul#menu li a.home { background-image:url(/Content/images/home.png);  }
ul#menu li a.services { background-image:url(/Content/images/services.png);  }
ul#menu li a.seo { background-image:url(/Content/images/seo.png);  }
ul#menu li a.design { background-image:url(/Content/images/design.png);  }
ul#menu li a.knowledge { background-image:url(/Content/images/knowledge.png);  }
ul#menu li a.signup { background-image:url(/Content/images/signup.png);  }
*/