<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title><sitemesh:write property='title' /></title>

<link rel="stylesheet" type="text/css" th:href="@{/css/Site.css}" />
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/menus.css}" /> -->
<script type="text/javascript" th:src="@{/scripts/jquery-1.6.2.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{/scripts/jquery.serializeobject.min.js}"></script>
<script type="text/javascript" th:src="@{/scripts/common.js}"></script>
<script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>
</head>

<body >
		<header>
		<div class="menu">
			<ol>
				<li><a th:href="@{/}">About us</a></li>
				<li><a th:href="@{/}" class="active">Services</a></li>
				<li><a th:href="@{/start}">Create your own site</a></li>
			</ol>
		</div>
	</header>
	<div id="main">
		<sitemesh:write property='body' />


	</div>
<!-- 	<div id="footer"> -->
<!-- 		<div class="groups"> -->
<!-- 			<ul> -->
<!-- 				<li th:unless="*{m == null}" th:if="*{m.published}" -->
<!-- 					th:each="m : ${sitemenus}" th:attr="pageKey=*{m.getKey()}"><a -->
<!-- 					th:text="*{m.title}" th:href="@{/__*{m.getKey()}__/}" -->
<!-- 					th:class="*{m.cssClass}"></a></li> -->
<!-- 			</ul> -->
<!-- 		</div> -->
<!-- 		<div class="copyright"> -->
<!-- 			<p>Copyright ©2011 Alien Design. All rights reserved.</p> -->
<!-- 		</div> -->
<!-- 	</div> -->

</body>
</html>

